
.fondodecolor-info{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carouselslide {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 20px auto;
}
.c-item {
    height: 480px;
}
.c-img {
    height: 100%;
    object-fit: cover;
}
.carousel-caption1{
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 500px;
    height: 100px;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-left: 30%;
}
.carousel-caption2{
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 800px;
    height: 150px;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-left: 20%;
}
.carousel-caption3{
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 500px;
    height: 100px;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-left: 30%;
}

.card4-info{
    position: relative;
    z-index: 2;
    margin-top: 2%;
    margin-left: 20%;
}
.card-header-info{
    color: white;
    font-family: "Lora",serif;
}
.card-text-info{
    color: white;
    font-family: "Roboto",serif;
}
.table-info{
    position: absolute;
    z-index: 2;
}
.titletable-info {
    color: white;
    text-align: center;
    font-family: "Lora", serif;
}
.bodytable-info{
    color: white;
    text-align: justify;
    font-family: "Roboto", serif;
}

